.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 20px;
    width: 500px;
}

.row {
    display: flex;
    gap: 13px;
}

