<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Multi Window</span>
    <span class="example-spacer"></span>
</mat-toolbar>
<div class="container">
    <div class="row1">
        <div routerLink="/app/employee/list">Employee</div>
        <div routerLink="/app/student/list">Student</div>
        <div routerLink="/app/users/list">Users</div>
        <div routerLink="/app/vehicle/list">Vehicle</div>
        <div routerLink="/app/employee/list">Employee</div>
    </div>
    <div class="row2">
        <router-outlet></router-outlet>
    </div>
</div>
<app-taskbar></app-taskbar>